.dj-product-list {
	height: auto;

	&-alert {
		width: 100%;
		position: absolute;
		padding-left: 20px;
		z-index: 1;

		p {
			color: white;
			font-style: italic;
			font-weight: 500;
		}

		&.sale {
			background: @djcOrange;
		}
		&.new {
			background: @djcBlue;
		}
	}

	.mz-productlist-item {
		padding: 1% 0 1% 1.6%;
		width:49.2%;
		min-height: auto !important; /* overwrite default min-height property */

		.dj-product-list {
			height: 250px;
			position: relative;
			background-image: url( ../resources/images/featProd-bg.jpg );
			background-size: cover;
			background-repeat: no-repeat;
			overflow: hidden;

			img {
				float: right;
				min-height: 100px;
				max-width: 50%;
				padding: 20px;
				position: relative;
				z-index: 2;
			}
			.mz-productlisting-imageplaceholder {
				float: right;
				margin-top: 20px;
				margin-right: 20px;
				height: 210px;
				width: 40%;
				line-height: 210px;
				z-index: 2;
			}

			.mz-productlisting-info {
				position: absolute;
				width: 100%;
				bottom: 5px;
				left: 20px;
				background: none;
				z-index: 3;

				.dj-productlisting-maininfo {
					width: 50%;
				}

				h2 {
					color: white;
					text-transform: none;
					margin-bottom: 0.125em;
				}
				h5 {
					color: #9a9a9a;
					font-style: italic;
					font-weight: 400;
					font-size: 1em;
					margin-bottom: 1em;
				}
				.btn {
					width: auto;
					margin-right: 10px;
				}
			}
		}

		.dj-productlisting-moreinfo {
			p {
				font-style: italic;
				font-size: 16px;
			}
		}

		@media only screen {
			@media (max-width: 768px) {
				width: 100%;
				padding: 0;
				min-height: 100px !important;

				.dj-product-list {
					height: auto !important;
					margin: 10px !important;

					&-alert {
						position: relative;
					}
					h2 {
						font-size: 18px;
						font-weight: 500;
					}
					h5 {
						margin: 5px 0 10px;
					}
					img {
						position: absolute;
						top: 0px;
						right: 0px;
						min-height: 10px;
						max-width: 40%;
						min-width: 100px;
					}

					.mz-productlisting-info {
						position: relative;
						top: 0;
						bottom: 0;
						left: 20px;
						margin-top: 0 !important;
					}
				}
				.dj-productlisting-moreinfo {
					p {
						margin: 12.5px;
					}
				}
			}
			@media (max-width: 414px) {
				.dj-product-list {
					img {
						top: -10px;
						right: -80px;
						max-width: 80%;
					}
				}
			}
		}
	}
	.dj-tiles {
		.mz-productlist-item {
			&:nth-child(2n - 1) {
				clear:both;
			}
		}
	}
}

.dj-event-list {
	.dj-row {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.dj-event-item {
		width: 100%;
		margin: 0 !important;

		.mz-productlisting-image {
			float: right;
		}
	}
	.see-block {
  		padding: 3em 2.125em;

		.block-heading {
	 	   margin-bottom: 0;
	 	   text-align: left !important;
		}

  		p {
			font-size: 16px;
			color: rgba(255, 255, 255, 0.7);
			font-style: italic;
			display: block;
			margin: 0 0 1.5em 0;
		}
		h2 {
    		color: white;
    	}
    	h3 {
		    font-size: 18px;
		    line-height: 18px;
		    margin-top: 3px;
		    font-weight: 400;

		    span {
		    	color: @djcOrange;
		    }
		}
	}
}