.separator {
	height: 10px;
	width: 100%;
}
.mz-myaccount {
	.hero {
		height: 300px !important;

		@media only screen {
	        @media (max-width: 768px) {
	            height: 200px !important;

	            .hero-bg {
	            	position: absolute;

	            	img {
	            		min-height: 200px;
	            		min-width: 900px;
	            	}
	            }
	            .mz-pagetitle {
	            	margin: 50px auto 20px !important;
	            }
	        }
	    }
	}
	&-nav {
		width: 100% !important;
		position: absolute;
		left: 0;

		&:after {
			display:table;
			clear:both;
			content: "";
		}

		.mz-scrollnav {
			width: 100%;

			&-list {
				text-align: center !important;
			}
			&-item {
				display: inline-block !important;
				margin: 4px 20px !important;
				float: none !important;
				border-bottom: none;
				padding-bottom: 5px;

				@media only screen {
			        @media (max-width: 450px) {
			        	margin: 4px 5px !important;
			        }
				}
			}
			&-link {
				color: white !important;

				&:focus, &:hover, &:active {
					text-decoration: none !important;
					color: @djcOrange !important;
				}

				.short {
					display: none;
				}

				@media only screen {
					@media (max-width: 1250px) {
						.long {
							display: none;
						}
						.short {
							display: inline-block;
						}
					}
			        @media (max-width: 940px) {
			            span, .long, .short {
			                display: none;
			            }
			        }
			    }
			}

			&.affix {
				top: 0;
				background: @djcDark;
				width: 100%;
				z-index: 999999;
			}
			&.affix-top {
				max-width: 1000px;
				margin: 0 auto;

				.mz-scrollnav-item {
					font-size: 20px;

					i {
						width: 25px;
						height: 25px;
						background-size: 25px auto;
					}
				}
			}
		}

		i {
			width: 20px;
			height: 20px;
			display: inline-block;
			position: relative;
			top: 5px;
			margin-right: 10px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 20px auto;
		}
	}
	.mz-button-small {
		font-size: 14px;
		background: none;
		border: none;
		color: @djcOrange;
		padding: 2px 6px 3px 6px;

		&:focus, &:hover, &:active {
			background: @djcOrange;
			color: white;
		}
	}

	&-panels {
		margin-left: 0px !important;

		& > a {
			/* account for upper navigation bar */
			position: relative;
			top: -40px;
		}

		.mz-l-stack-section {
			min-height: 40px !important;
			margin: 0 0 75px !important;

			a {
				color: @djcOrange;
			}
			li {
				width: 100%;
			}
			[class$="-actions"] {
				text-align: right;
			}
		}
		.mz-l-stack-sectiontitle {
			color: @djcOrange;
			font-size: 30px !important;
			padding: 5px 0 5px 75px !important;
			position: relative;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDExMzUuMSAyMTcuMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEzNS4xIDIxNy4zIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjRkY4OTM2IiBkPSJNMTA5NC41IDIxNy4zYy0yODYuOCAwLTgwNy43IDAtMTA5NC41IDBDMCAxNDQuOCAwIDcyLjQgMCAwYzMwMC4zIDAgODM0LjcgMCAxMTM1IDBDMTEzMC43IDIxLjggMTA5NS4yIDIxMC4zIDEwOTQuNSAyMTcuM3oiLz48L3N2Zz4=);
			background-repeat: no-repeat;
			background-position: -160px;
			border-bottom: 1px solid @djcLight !important;

			i {
				height: 30px;
				width: 30px;
				display: block;
				position: absolute;
				left: 12px;
				top: 6px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 30px;
				background-color: transparent !important;
			}

		    @media only screen {
		        @media (max-width: 768px) {
		            font-size: 20px !important;
		            padding: 5px 0 5px 55px !important;
		            background-position: -120px;

		            i {
		            	height: 25px;
		            	width: 25px;
		            	background-size: 25px;
		            	left: 9px;
		            	top: 4px;
		            }
		        }
		    }
		}
	}
	.mz-accountorderhistory{
		.mz-orderlisting {
			border: 1px solid #eee;
			min-height: 150px;

			&-items {
				.mz-itemlisting {
					min-height: 10px !important;
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}

					&-title {
						color: @djcOrange;
						font-style: italic;
					}
					&-description {
						color: @djcLightGray;
					}
				}
			}
		}

		.mz-orderhistory-section {
			&.mz-l-paginatedlist {
				.mz-pagingcontrols {
					right: 10px;
					z-index: 9999;
				}
				.mz-pagenumbers {
					right: 10px;
					top: 5px;
					z-index: 9999;
				}
			}
		}
		@media only screen {
	        @media (max-width: 768px) {
	        	.mz-orderlisting {
	        		&-detail {
		        		position: relative;
		        		width: 100%;
		        		font-size: 12px;
	        		}
	        		&-date {
	        			position: absolute;
	        			margin: 0;
	        			right: 15px;
	        			bottom: 15px;
	        		}
	        		&-items {
	        			margin-left: 0;

		        		.mz-itemlisting {
		        			&-title {
		        				font-size: 14px;
		        			}
		        		}
	        		}
	        	}
	        }
	    }
	}
	.mz-accountpaymentmethods {
		&-form {
			border: 2px solid #e9e9e9;
			border-radius: 15px;
			padding:20px;

			.mz-contactselector .mz-contactselector-contact {
				width: 100%;
				min-height: 10px !important;

				& > * {
					vertical-align: top !important;
				}
			}
			.mz-creditcard-actions {
				margin-right: 20px;
			}
			.mz-l-formfieldgroup .mz-l-formfieldgroup-cell label {
				text-align: left !important;
			}
		}
		.mz-paymentmethod {
			&-myaccount {
				border-radius: 15px;
				box-sizing: border-box;
				padding:12.5px 0 12.5px 12.5px;
				margin-right:20px;
				width: 300px;
				height: 180px;
				min-height: 180px;
				position: relative;
				box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
				background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			}
			&-methoddetails {
				position: absolute;
				bottom: 30px;
				left: 30px;
			}
			&-cardnumber {
				font-size:21px;
				letter-spacing:.1em;
				font-family: courier;
				margin-top: 0px;
				text-shadow: 1px 1px rgba(0,0,0,0.1);
			}
			&-cardexp {
				color: rgba(0,0,0,0);

				span {
					font-family: courier;
					color: black;
					float: right;
					font-size: 16px;
					margin-right:2px;
					text-shadow: 1px 1px rgba(0,0,0,0.1);
				}
				&:after {
					display: table;
					content: "";
					clear: both;
				}
			}
			&-cardname {
				font-size: 16px;
				font-family: courier;
				text-transform: uppercase;
				text-shadow: 1px 1px rgba(0,0,0,0.1);
			}
		}

		@media only screen {
	        @media (max-width: 768px) {
	        	font-size: 13px;

	        	.mz-paymentmethod {
	        		&-myaccount {
	        			width: 250px;
	        			height: 160px;
	        			min-height: 160px;
	        		}
	        		&-methoddetails {
	        			position: relative;
	        			left: 10px;
	        			bottom: 0;
	        		}
	        		&-cardnumber {
						font-size: 16px;
	        		}
	        		&-cardexp {
	        			span {
	        				font-size: 13px;
	        			}
	        		}
	        		&-cardname {
	        			font-size: 14px;
	        		}
	        	}
	        }
	    }
	}
	.mz-accountaddressbook {
		&-contact {
			width: 49% !important;
			min-height: 10px !important;
			display: inline-block;
			margin: 0 1.6% 1.6% 0;
			padding: 15px 0 20px 20px;
			float: left;
			border: 1px solid @djcLight;
			border-left: 5px solid @djcDark;
			position: relative;

			&:nth-child(2n) {
				margin: 0 0 1.6% 0;
			}

			@media only screen {
		        @media (max-width: 768px) {
		        	width: 100% !important;
		        	font-size: 13px;
					padding: 12.5px 0 12.5px 12.5px;
		        }
		    }
		}
		&-contactdetails {
			font-weight: 300;
			color: @djcDarkGray;

			.address {
				&-name {
					font-weight: 600;
					font-size: 1.3em;
					margin-bottom: 5px;
				}
				&-line1, &-line2, &-line3, &-city, &-country {
					font-weight: 400;
				}
				&-city, &-country {
					display: inline-block;
				}
				&-country {
					color: @djcLightGray;
					margin-left: 5px;
				}
			}
		}
		&-actions {
			position: absolute;
			right: 0;
			top: 12px;

			a {
				border: none !important;
			}
		}
		&-contacttype-container {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 0 12.5px;
		}
		&-contacttype {
			float:right;
			margin-left: 10px;

			i {
				display:inline-block;

				&.icon-account-billing {
					width: 60px;
					height: 60px;
				}

				&.icon-account-shipping {
					width: 54px;
					height: 54px;
					position: relative;
					top: 3px;
				}
			}
		}
		&-form {
			.mz-contact-actions {
				margin-right: 30px;
			}
		}
	}
}
.mz-protectedcontent-section {
	.pc-sga {
		margin-top: 0;
		margin-bottom: 0;
		color: @djcLightGray;
		text-align: right;
	}

	ul {
		width: 100%;
		float: left;
		list-style-type: none;
		padding: 0;
		margin: 0;

		&:after {
			display: table;
			content: "";
			clear:both;
		}

		h4 {
			margin-bottom: 0;
		}
	}

	.dj-insiderlist {
		& + .dj-insiderlist {
			display: none;
		}
	}

	.dj-digitalproductlist {

		&-listing {
			position: relative;
			width: 40%;
			max-width: 450px;
			height: 200px;
			float: left;
			box-sizing: border-box;
			padding: 10px 10px 10px 30px;
			margin: 1.6% 1.6% 0 0;
			background-image: url(../resources/images/featProd-bg.jpg);
			background-position: top left;
			background-size: cover;

			&:nth-child(2n) {
				margin: 1.6% 1.6% 0 0;
			}

			.mz-itemlisting-details {
				position: absolute;
				bottom: 0;
				left: 20px;
			}

			.mz-itemlisting-thumb {
				max-width: 200px;
				float: right;
				margin-top:10px;

				img {
					max-width: 200px;
					width: 100%;
				}
			}

			h2 {
				font-size: 1em !important;
				padding-right: 200px;
			}
			a {
				color: white !important;
			}
			p {
				color: @djcLightGray;
				margin-bottom: 0;
			}

			@media only screen {
		        @media (max-width: 768px) {
		        	height: auto;

		        	.mz-itemlisting-details {
		        		position: relative;
		        		left: 0;
		        	}
		        	.mz-itemlisting-thumb {
		        		display: none;
		        	}
		        	h2 {
		        		padding-right: 10px;
		        	}
		        }
		    }
		}
	}
}