.mz-loginpage {
	.nav-wrapper + .dj-container {
		max-width: 2000px !important;
	}
	.mz-l-container {
		background-image: url(../resources/images/login-bg.jpg);
		background-size: cover;
	}
	.mz-l-pagecontent {
		min-height: 100px !important;
	}
	.mz-pagetitle {
		text-align: center;
	}
	.mz-l-formfieldgroup {
		margin: 20px auto;
	}
	.mz-button + a {
		margin-top: 15px;
		margin-left: 10px;
	}
}