.dj-protectedContent {
	.hero {
		height: auto !important;
		overflow: hidden;

		.mz-pagetitle {
			margin: 10px auto 0;
		}

		h1 {
			color: #ffffff;
			position: relative;
			text-align: center;
		}
		p {
			color: @djcLightGray;
			font-size: 1em;
			position: relative;
			text-align: left;
		}
		h5 {
			text-align: right;
			position: relative;
		}
		a {
			color: #ffffff;

			&:link, &:visited {
				color: #ffffff;
			}
			&:focus, &:hover, &:active {
				color: @djcOrange;
			}
		}
		.dj-row {
			padding: 1em !important;
		}
		.col-4 {
			img {
				max-height: 200px;
				float: right;
			}
		}
		.col-8 {
			.mz-content-widget-wrap {
				margin: 0 !important;
			}
		}
		@media only screen {
			@media (max-width: 768px) {
				.hero-bg {
					display: none;
				}
				h1 {
					margin: 30px auto 0;
				}
				.col-4 {
					text-align:center;

					img {
						float: none;
						margin: 0 auto;
					}
				}
				.dj-container {
					float:left;
					background-image: url(../resources/images/featProd-bg.jpg);
					background-size: cover;
					background-position: center center;

					&:after {
						content:"";
						display: table;
						clear:both;
					}
				}
			}
		}
	}
	.arbitraryOrangeBar {
		height: 0px;
		background-color: @djcOrange;
		width: 100%;
	}
	.mz-content-widget-wrap {
		max-width: 640px;
		margin: 0 auto;
	}
	.pc-content-body {
		padding: 0 !important;

		a {
			color: @djcBlue;

			&:link, &:visited, &:focus, &:hover, &:active {
				color: @djcBlue;
			}
		}
		.mz-cms-row {
			max-width: 100% !important;
		}
		[class*="mz-cms-col-"], .mz-cms-content {
			padding: 0 !important;
		}
		.dj-product-tabs-wrap {
			margin-top: 0 !important;
		}
	}
	.cd-tabs-content {
		padding-bottom: 40px;

		& > li {
			padding: 1em;

			.inner {
				max-width: 640px;
				margin: 0 auto;

				audio {
					margin-bottom: 40px;
				}
			}
		}

		h3 {
			margin-top: 40px;
		}
	}
}
.disclaimer {
	padding: 0 auto .5em;

	h5 {
		margin: 0 10px;
		color: @djcLightGray;
		text-align: center;
		font-style: italic;

		span {
			text-transform: uppercase;
			color: @djcOrange;
		}
	}
	a {
		color: @djcBlue;

		&:link, &:visited, &:focus, &:hover, &:active {
			color: @djcBlue;
		}
	}
}