.dj-protectedContent {
	.hero {
		height: auto !important;
		overflow: hidden;

		h5 {
			position: relative;
			text-align: center;
			color: #ffffff;
		}
		a {
			color: #ffffff;

			&:link, &:visited {
				color: #ffffff;
			}
			&:focus, &:hover, &:active {
				color: @djcOrange;
			}
		}
	}
	.arbitraryOrangeBar {
		height: 20px;
		background-color: @djcOrange;
		width: 100%;
	}
	.pc-content-body {
		max-width: 680px !important;

		a {
			color: @djcBlue;

			&:link, &:visited, &:focus, &:hover, &:active {
				color: @djcBlue;
			}
		}
	}
}
.disclaimer {
	h5 {
		margin-top: 0;
		color: @djcLightGray;
	}
	a {
		color: @djcBlue;

		&:link, &:visited, &:focus, &:hover, &:active {
			color: @djcBlue;
		}
	}
}
#workaround-lightbox {
	background-color: white;
	padding: 15px;
	border-radius: 15px;
	max-width: 640px;

	h5 {
		margin: 0;
	}

	p {
		font-size: 16px;
		font-weight: 400;
	}

	img {
		margin-bottom: 40px;
	}
}