.dj-product-container {
	padding: 60px 40px 40px 40px;

	.mz-productimages-main {
		text-align: center;

		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.mz-productimages-thumbs {
		.mz-productimages-thumb {
			margin: 10px !important;
			padding: 5px;
			border: 1px solid #ddd !important;
		}
	}

	.dj-row {
		padding: 0 !important;
		border-bottom: 1px solid #e9e9e9;
	}

	.mz-l-stack .mz-l-stack-section {
		margin: 0 0 10px;
	}

	.price-box {
		background-color: #e9e9e9;
		padding: 10px 20px;
		margin-bottom: 10px;

		.mz-price {
			font-size: 40px;
			color: @djcBlue;

			& > div {
				font-size: 14px;
				color: @djcLightGray;
			}
		}
		.mz-propertylist {
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			color: @djcBlue;

			dt {
				/* display: none; */
			}
			dd {
				float: left;
				clear: left;
				margin-left: 0;
			}
		}
	}
	.options-box {
		background-color: #e9e9e9;
		padding: 20px;
		margin-bottom: 10px;
	}
	.conversion-box {
		.mz-productdetail-conversion-controls {
			padding: 10px 20px 0;
			background-color: #e9e9e9;
			width: 100%;
		}
		.mz-productdetail-conversion-buttons {
			padding: 10px 0 0 0;
			background-color: transparent;
			width: 100%;

			.btn {
				width: 100%;
			}
			.is-disabled {
				background-color: #a9a9a9;
				&:focus, &:hover, &:active {
					color: white;
				}
			}
		}
		.mz-productdetail-notpurchasable {
			text-align: center;
			margin: 0;
		}
	}
}
.mz-productdetail-wrap {
	margin-left: 0;
}
.mz-pagetitle {
	clear: none !important;
	font-weight: 700;
	letter-spacing: .01em;
	font-size: 32px;
	margin: 0 0 5px;
	color: @textColor;
}
.mz-productdetail-shortdesc {
	font-style: italic;
	font-weight: 600;
	color: #aaa;
	font-size: 20px;
}

#dj-product-tabs {
	&:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	#shipping-info {
		.dj-row {
			padding: 0;

			.col-6:first-child {
				border-right: none;
				
				@media only screen and (min-width: 960px) {
					border-right: 1px solid #e9e9e9;
				}
			}
		}
	}
	h2 {
		line-height: auto;

		span {
			color: @djcOrange;
		}
	}
	p {
		color: #9a9a9a;

		a {
			color: @djcBlue;
		}
	}
	dl {
		dt {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			color: black;
		}
		dd {
			font-size: 18px;
			font-weight: 300;
			color: #9a9a9a;
			margin: 0 0 20px 0;
			padding-right: 40px;
		}
	}
}