.dynamic-content {
	width: 100%;

    @media only screen {
    	@media (max-width: 768px) {
    		.dj-row {
    			padding: 1.25em 0 !important;
    		}
    	}
        @media (max-width: 414px) {
            padding: 1em 0;
        }
    }

	h2 {
		margin-top: 0;
		color: white;
		letter-spacing: 1.25px;
		span {
			color: @djcOrange;
		}
	}

	&.dark {
		background-color: @djcDark;
	}

	.first {
		border-right: 1px solid rgba(255,255,255,0.65);
		padding-right:35px;
	}

	.slider {
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;

		@media only screen {
	        @media (max-width: 786px) {
	            margin-left: 0;
	            margin-right: 0;
	        }
	    }
		
		.slick-prev, .slick-next {
			width: 35px;
			height: 35px;

			&:before {
				font-size: 35px;
			}
		}
		.slick-prev { left: -55px !important; }
		.slick-next { right: -55px !important; }

		.dc-slide {
			&:first-child {
				display: block;
			}
			display: none;
		}

		.image-container {
			width: 100%;
			margin: 0 auto;
			height:200px;
			overflow: hidden;
			position: relative;

			img {
				width: auto;
				max-height: 100%;
				margin: 0 auto;
				/* position:absolute;
				bottom:0;
				left:50%; */
			}

			@media only screen {
				@media (max-width: 940px) {
					height: 150px;
				}
				@media (max-width: 768px) {
		            height: 100px;
		        }
			}
		}
		.product-name {
			display: inline-block;
			margin: 10px auto 0;
			color: white;
			text-transform: uppercase;
			font-weight: 600;

			@media only screen {
				@media (max-width: 768px) {
		            font-size: 11px;
		        }
			}
		}
	}
}