footer {
  background: #303030;
  padding: 42px;

  h6 {
    color: white;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;

    .dj-onlinestore {
      color: @djcOrange;
      font-style: italic;
      font-weight: 600;
    }
  }
  @media only screen {
    @media (max-width: 768px) {
      padding: 1em;
    }
  }
  //kill Mozu Dropzone Structure for Footer Nav Widget
  div[class^="mz-cms-"] {
    width: auto !important;
    max-width: 2000px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    max-height: 9999999px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    overflow: visible !important;
    float: none !important;
    background-color: transparent !important;
  }
  .mz-cms-row:after {
    display: block !important;
    clear: none !important;
  }
  .mz-cms-content:first-child {
    margin-top: inherit !important;
  }
}

//footer
.footer-nav {
  float: right;
  width: 65%;
  margin: 0 auto;

  li {
    padding-right: 0;
    color: white;
    float: left;
    width: 25%;
    height: 228px;

    a {
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.28579em;

      &:hover {
        color: #9a9a9a; 
      }
    }

    ul {
      margin-top: 1em;
      font-size: 14px;

      li {
        width: 100%;
        color: #9a9a9a;
        margin-bottom: 1em;
        height: auto;

        a {
          letter-spacing: 0;
          text-transform: none;
          color: #9a9a9a;

          &:hover {
            color: white; 
          }
        }
      }
    }
  }

  .client-support {
    li {
      &:after {
        content:"";
        width: 100%;
        height: 1px;
        display: block;
        border-bottom: solid 1px #555;
        position: relative;
        bottom: -8px;
      }
      &.last {
        &:after {
          display: none;
        }
      }
    }

    a {
      font-size: 18px;
    }
    i {
      height: 1.5em;
      width: 1.5em;
      display: inline-block;
      padding: 0;
      margin-right: 10px;
      margin-bottom: -7px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1.5em 1.5em;
    }
  }

  @media only screen {
    @media (max-width: 1195px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      float: none;
      margin: 0 auto;

      li {
        float: right;
        width: 49%;
        margin-right: 1.6%;
        text-align: center;
        height: auto;
        margin-bottom: 15px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

.footer-left-block {
  float: left;
  color: #9a9a9a;
  text-align: left;
  width: auto;

  a {
    color: #9a9a9a;
  }

  .social {
    .icons {
      margin: 1em 0 2.5em;
    }
    i {
      font-size: 1.5em;
      margin: 5px;
    }
  }

  .creds {
    margin-bottom: 20px;
  }

  .legal-links, .copy {
    font-size: 12px;
    margin: 1em 0 .8em;
  }

  .legal-links {
    padding: 0;

    li {
      display: inline-block;
      padding: 0 0.5em;
      border-left: 1px solid #9a9a9a;

      &:first-child {
        border-left: none;
        padding-left: 0; 
      }

      a {
        color: #9a9a9a;

        &:hover {
          color: white;
        }
      }
    }
  }

  .copy a:hover {
    color: white;
  }

  @media only screen {
    @media (max-width: 1195px) {
      width: 100%;
      padding-top: 2em;

      .social, .creds {
        width: 49%;
        float: left;
      }
      .copy {
        &:before {
          display:table;
          content: "";
          clear:both;
        }
      }
    }
    @media (max-width: 768px) {
      text-align: center;
      width: 100%;
      padding-top: 0;
    }
  }
}
