@headerHeight: 60px;
@headerBaseline: 36px;
@searchBoxHeight: 30px;

.mz-pageheader {
    position: relative;
    background: #303030;
    padding: 1em 25px;
    max-height: 61px;

    .mz-utilitynav {
        float:left;
    }

    .dj-topright {
        float:right;
        margin-top: -1px;
        margin-right: 30px;
    }

    .mobile-title {
        display:none;

        a {
            color: white;
            padding-right: 5px;
        }

        span {
            display: inline-block;
            font-style:italic;
            font-weight: 600;
            text-transform: uppercase;
            color: @djcOrange;

            &.tiny {
                display:none;
            }
        }

        @media only screen {
            @media (max-width: 768px) {
                display: block;
                position: absolute;
                top:18px;
                font-size: 18px;
                line-height: 1em;
                color: white;
                width: 280px;
                left: 50%;
                margin-left: -130px;

            }
            @media (max-width: 414px) {
                margin-left: -98px;

                span {
                    &.mobilish {
                        display: none;
                    }
                    &.tiny {
                        display: inline-block;
                    }
                }
            }
        }
    }

    @media only screen {
        @media (max-width: 768px) {
            height: auto;
            max-height: 999px;
            padding: .5em 25px;

            .mz-storebranding, .dj-topright, .mz-utilitynav {
                width: 100%;
                text-align: center;
                position: relative;
                margin-bottom: 10px;
                margin-right: 0;
                clear: both;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}