.reviews {
	&-manual {
		padding: 0 !important;

		h3 {
			text-transform: uppercase;
			margin-bottom: .5em;
		}
		p + p {
			text-align: right;
			font-style: italic;
			position: relative;
			right: 20px;
			font-size: 1em;
		}
		.col-12 {
			h3 {
				text-align: center;
				margin-bottom: 1em;
			}
		}

        @media only screen {
            @media (max-width: 414px) {
                .col-4 + .col-4 {
                	display: none;
                }
            }
        }
	}
}
.dj-product-tabs-wrap {
	.reviews-manual {
		h3 {
			display: none;
		}
	}
}