.mz-utilitynav {
    color: #9a9a9a;
    font-size: 13px;
    margin-top: 6px;

    &-list {
        @media only screen {
            @media (max-width: 768px) {
                height: 20px;
            }
        }
    }

    &-item {
        float: left;
        margin: 0;
        padding: 0 10px;
        text-align: right;

        &:last-child {
            padding-right: 0;
            text-align: right;
        }

        .backhome {
            font-weight: 600;
            color: @djcLight !important;
        }

        .icon-leftarrow {
            height: 9px;
            width: 5px;
            display: inline-block;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTYuNSAxMjEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDU2LjUgMTIxIiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGU+LnN0eWxlMHtmaWxsOgkjOUE5QTlBO308L3N0eWxlPjxwb2x5Z29uIHBvaW50cz0iNTYuNSwxMjEgMCw2MC41IDU2LjUsMCIgY2xhc3M9InN0eWxlMCIvPjwvc3ZnPg==);
            background-size: 5px 9px;
            background-repeat: no-repeat;
            background-position: 0 0;
            margin-right: 5px;
        }

        @media only screen {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .mz-utilitynav-link {
        .permalink(#9a9a9a);
        &:focus,
        &:hover,
        &:active {
            color: #fff;
            text-decoration: none;
        }
    }
}
