.popover {
	z-index: 99999 !important; /* make sure popover windows are above logo and all other elements */
}

.block-heading {
	text-align: center;
	letter-spacing: 1.25px;
	margin: 0 auto 1em;

	&.left {
		text-align: left;
	}
	span, a, a:link, a:visited {
		color: @djcOrange;
	}

	@media only screen {
	    @media (max-width: 768px) {
	        font-size: 1.25em;
	        text-align: center !important;
	    }
	}
}

.bottom-bar {
	width: 100%;
	max-width: 1196px;
	position: relative;
	height: 52px !important;
	top: -52px !important;
	margin: 0 0 -25px;
	padding: .5em;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(48, 48, 48, 0.3);
	color: white;
	background: @djcOrange;
	text-transform: uppercase;

	span {
		padding: 0 5px;
	}
}

.cat-adjust .fpc-slide {
	margin-top: -40px;

	@media only screen {
		@media (max-width: 768px) {
			margin-top: 0;
		}
	}
}

input[type="radio"],
input[type="checkbox"] {
	height:20px;
	width: 20px;
	vertical-align: middle;
	margin: 4px 0;

	&:checked {
		background-color: @djcOrange;
	}

	& + span {
		vertical-align: middle;
	}
}

.mz-pagetitle {
	color: @djcOrange;
}

.hero .mz-pagetitle {
	text-align: center;
	margin: 50px auto;
	position: relative;
}

.lightbox h2 {
	text-align: center;
	font-size: 5em;
	line-height: 0;
	color: white;
}

.mobile {
  display: none;

  @media only screen {
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.mobile-hidden {
  display: block;

  @media only screen {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.tablet-hidden {
	display: block;
	@media only screen {
		@media (max-width: 940px) {
			display: none;
		}
	}
}