.block-heading {
	text-align: center;
	letter-spacing: 1.25px;
	margin: 0 auto 1em;

	&.left {
		text-align: left;
	}
	span, a, a:link, a:visited {
		color: @djcOrange;
	}
}

.bottom-bar {
	width: 100%;
	max-width: 1196px;
	background: #ff8936;
	margin: 0;
	color: white;
	text-align: center;

	span {
	}
}